/* nav */
#container{
    width:100%;
}
#home{
    width:100%;
    height:46px;
    background-color:white;
    position: absolute;
    top:0;
}
#home:hover{
    background-color: lightgrey;
}
#previous{
    width:200px;
    height:46px;
    background-color:lightgrey;
    position: absolute;
    top:0;
}
#previous:hover{
    background-color:#f9f9f9;
}
#next{
    width:200px;
    height:46px;
    background-color:lightgrey;
    position: absolute;
    right:0;
    top:0;
}
#next:hover{
    background-color:#f9f9f9;
}
    background-color: lightgrey;

    background-color:#f9f9f9;
/* nav */

#all{
    position: absolute;
}
*{
    font-size:80%;
}
#container{
    width:100px;
    margin-top:300px;
}
span{
    -webkit-transition: font-size 1s linear;
  -moz-transition: font-size 1s linear;
  -ms-transition: font-size 1s linear;
  -o-transition: font-size 1s linear;
  transition: font-size 1s linear;
}
span:hover{
    font-size:2000%;
}