body{
    font-family: Arial;
    font-weight: bold;
    background-color: #FDEF8D;
}
.little{
    position: absolute;
    letter-spacing: .4px;
    font-size: 400%;
    margin-left: 300px;
}
.boxes{
    position: absolute;
    font-size: 400%;
    margin-left: 300px;
}
.color{
    position: absolute;
    font-size:730%;
    margin-left:674px;
}
#little{
    margin-top:100px;
}
#boxes{
    margin-top:175px;
}
#little2{
    margin-top:255px;
}
#boxes2{
    margin-top:355px;
}
#little3{
    margin-top:430px;
}
#boxes3{
    margin-top:505px;
}
#little4{
    margin-top:605px;
}
#boxes4{
    margin-top:680px;
}
#little5{
    margin-top:755px;
}
#newsame{
    position: absolute;
    font-size: 200%;
    margin-top:710px;
    margin-left:674px;
}
#heart{
    position: absolute;
    font-family: Georgia;
    font-size: 200%;
    margin-top: 709px;
    margin-left: 780px;
}
#trailer{
    position: absolute;
    font-family: Georgia;
    font-size: 200%;
    margin-top: 739px;
    margin-left: 780px;
}
#there{
    margin-top:150px;
    letter-spacing: 48px;
}
#a{
    margin-top:150px;
    margin-left: 1154px;
}
#green{
    margin-top:410px;
    letter-spacing: 14px;
}
#one{
    margin-top:665px;
    letter-spacing: 158px;
}
a{
    text-decoration: none;
    color: #404E4D;
}
.color a{
    color:#FDE74C;
}
#there a:hover{
    color:#404E4D;
}