/* nav */
#container{
    width:100%;
}
#home{
    width:100%;
    height:46px;
    background-color:white;
    position: absolute;
    top:0;
}
#home:hover{
    background-color: lightgrey;
}
#previous{
    width:200px;
    height:46px;
    background-color:lightgrey;
    position: absolute;
    top:0;
}
#previous:hover{
    background-color:#f9f9f9;
}
#next{
    width:200px;
    height:46px;
    background-color:lightgrey;
    position: absolute;
    right:0;
    top:0;
}
#next:hover{
    background-color:#f9f9f9;
}
    background-color: lightgrey;

    background-color:#f9f9f9;
/* nav */

#all{
    position: absolute;
}
*{
    font-family:serif;
    color:black;
    opacity: 0.8;
}
#containter{
    position: absolute;
    height:500px;
    width:500px;
    border:1px black solid;
}
#title{
    font-size:2630%;
    position:absolute;
    margin-top:100px;
    margin-left:100px;
}
#and{
    position:absolute;
    margin-top:450px;
    margin-left:800px;
    color:rebeccapurple;
    font-size:250%;
}
#one{
    position:absolute;
    margin-left:150px;
    margin-top:190px;
}
#two{
    position:absolute;
    margin-top:230px;
    margin-left:190px;
}
#three{
    position:absolute;
    margin-top:300px;
    margin-left:230px;
}
#four{
    position:absolute;
    margin-top:400px;
    margin-left:280px;
}
#five{
    position:absolute;
    margin-top:485px;
    margin-left:380px;
}
#six{
    position:absolute;
    margin-top:440px;
    margin-left:550px;
}
#seven{
    position:absolute;
    margin-top:400px;
    margin-left:650px;
}#eight{
    position:absolute;
    margin-top:340px;
    margin-left:750px;
}
#nine{
    position:absolute;
    margin-top:280px;
    margin-left:940px;
}
#ten{
    position:absolute;
    margin-top:330px;
    margin-left:1130px;
}
#eleven{
    position:absolute;
    margin-top:400px;
    margin-left:1180px;
}
#twelve{
    position:absolute;
    margin-top:475px;
    margin-left:1350px;
}
#thirteen{
    position:absolute;
    margin-top:350px;
    margin-left:1390px;
}