#fireandice{
	position:fixed;
	margin-top:25px;
	margin-right:100px;
	margin-left:500px;
	margin-bottom: 100px;
}
#some{
	position:fixed;
    margin-top:50px;
	margin-right:100px;
	margin-left:600px;
	margin-bottom: 100px;
}
#theworld{
	position:fixed;
    margin-top:75px;
	margin-right:100px;
	margin-left:400px;
	margin-bottom: 100px;
}
#will{
    position:fixed;
    margin-top:100px;
	margin-right:100px;
	margin-left:500px;
	margin-bottom: 100px;
}
#infire{
	position:fixed;
    margin-top:125px;
	margin-right:100px;
	margin-left:600px;
	margin-bottom: 100px;
}
#somesay{
	position:fixed;
    margin-top:150px;
	margin-left:400px;
	margin-bottom: 100px;
}
#inice{
	position:fixed;
    margin-top:175px;
	margin-right:100px;
	margin-left:500px;
	margin-bottom: 100px;
}
#from{
	position:fixed;
    margin-top:200px;
	margin-right:100px;
	margin-left:600px;
	margin-bottom: 100px;

}
#ihold{
	position:fixed;
    margin-top:225px;
	margin-right:100px;
	margin-left:400px;
	margin-bottom: 100px;
}
#but{
    position:fixed;
    margin-top:250px;
	margin-right:100px;
	margin-left:500px;
	margin-bottom: 100px;
}
#think{
    position:fixed;
    margin-top:275px;
	margin-right:100px;
	margin-left:600px;
	margin-bottom: 100px;
}
#toknow{
	position:fixed;
    margin-top:300px;
	margin-right:100px;
	margin-left:400px;
	margin-bottom: 100px;
}
#is{
	position:fixed;
    margin-top:325px;
	margin-right:100px;
	margin-left:500px;
	margin-bottom: 100px;
}
#and{
	position:fixed;
    margin-top:350px;
	margin-right:100px;
	margin-left:600px;
	margin-bottom: 100px;

}