#fireandice{
	position:fixed;
	margin-top:50px;
	margin-right:100px;
	margin-left:500px;
	margin-bottom: 100px;
}
#some{
	position:fixed;
}
#theworld{
	position:fixed;

}
#infire{
	position:fixed;

}
#somesay{
	position:fixed;
}
#inice{
	position:fixed;

}
#from{
	position:fixed;

}
#ihold{
	position:fixed;

}
#toknow{
	position:fixed;

}

#d{
	position:fixed;

}
#e{
	position:fixed;

}
#s{
	position:fixed;

}
#t{
	position:fixed;

}
#r{
	position:fixed;

}
#u{
	position:fixed;

}
#c{
	position:fixed;

}
#t2{
	position:fixed;

}
#i{
	position:fixed;

}
#o{
	position:fixed;

}
#n{
	position:fixed;

}

#ice{
	position:fixed;
	
}
#is{
	position:fixed;

}
#and{
	position:fixed;

}