#fireandice{
	position:fixed;
	margin-top:35px;
	margin-right:5px;
	margin-left:550px;
	margin-bottom:5px;
}
#some{
    position:fixed;
	margin-top:75px;
	margin-right:5px;
	margin-left:70px;
	margin-bottom:5px;
}
#fire{
    position:fixed;
	margin-top:75px;
	margin-right:5px;
	margin-left:570px;
	margin-bottom:5px;
    color:lightgrey
}
#somesay{
    position:fixed;
	margin-top:100px;
	margin-right:5px;
	margin-left:85px;
	margin-bottom:5px;
}
#ice{
    position:fixed;
	margin-top:120px;
	margin-right:5px;
	margin-left:700px;
	margin-bottom:5px;
    color:lightgrey
}
#from{
    position:fixed;
	margin-top:150px;
	margin-right:5px;
	margin-left:45px;
	margin-bottom:5px;
}
#desire{
    position:fixed;
	margin-top:145px;
	margin-right:5px;
	margin-left:585px;
	margin-bottom:5px;
    color:lightgrey
}
#ihold{
    position:fixed;
	margin-top:175px;
	margin-right:5px;
	margin-left:120px;
	margin-bottom:5px;
}
#fire2{
    position:fixed;
	margin-top:173px;
	margin-right:5px;
	margin-left:545px;
	margin-bottom:5px;
    color:lightgrey
}
#but{
    position:fixed;
	margin-top:210px;
	margin-right:5px;
	margin-left:90px;
	margin-bottom:5px;
}
#ithink{
    position:fixed;
	margin-top:240px;
	margin-right:5px;
	margin-left:55px;
	margin-bottom:5px;
}
#hate{
    position:fixed;
	margin-top:242px;
	margin-right:5px;
	margin-left:680px;
	margin-bottom:5px;
    color:lightgrey
}
#toknow{
    position:fixed;
	margin-top:275px;
	margin-right:5px;
	margin-left:55px;
	margin-bottom:5px;
}
#ice2{
    position:fixed;
	margin-top:270px;
	margin-right:5px;
	margin-left:635px;
	margin-bottom:5px;
    color:lightgrey
}
#is{
    position:fixed;
	margin-top:300px;
	margin-right:5px;
	margin-left:535px;
	margin-bottom:5px;
}
#and{
    position:fixed;
	margin-top:315px;
	margin-right:5px;
	margin-left:515px;
	margin-bottom:5px;
}